form {
}
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  font-family: Raleway;
}
html,
body {
  margin: 0;

  background-image: url("/img/bg.jpg");
}

hr {
  margin-top: 0;
}

ul {
  display: inline-block;
  padding: 0;
}
label {
  display: block;
  margin: 15px;
}
textarea {
  padding-top: 10px;
  width: 250px;
  height: 100px;
}
input {
  text-align: center;
  width: 200px;
}
#contact-form {
  justify-content: center;
}

.app {
}

.nav-bar {
  font-size: x-large;
  padding-top: 30px;
  padding-bottom: 10px;

  text-align: center;
  display: block;
  position: relative;
  width: auto;

  background-color: whitesmoke;
}

.nav-bar a {
  padding-left: 15px;
  transition: underline 2s linear;
}
.nav-bar li {
  font-size: x-large;
  display: inline-flex;
  list-style: none;
  transition: underline 2s linear;
}
.nav-bar li:hover {
  text-decoration: underline;
}
.nav-bar img {
  display: block;
  margin: auto;
  height: 100px;
  border-radius: 50px;
}
.nav-bar svg {
  margin: 1px;
}
.nav-bar p {
  text-align: end;
  font-weight: bold;
  font-size: 0.5em;
  margin: 0;
  transform: translate(0, +10px);
}
.icons a {
  padding: 2px;
}
.icons img {
  display: inline-block;
  margin-left: 3px;
  transform: translate(0, -2.5px);
  height: 22px;
  border-radius: 0;
}
.icons a:hover,
img:hover {
  opacity: 0.75;
}
.content {
  color: rgb(59, 59, 59);
  text-align: center;
  display: block;
  margin-top: 10px;
  left: 10px;
  right: 10px;
  position: absolute;

  border-radius: 15px;
  padding: 5px;
  padding-bottom: 25px;
}
.content-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project {
  margin: 10px;
  border: black solid 1px;
}
.project a {
  display: block;
  margin-top: 5px;
  color: rgb(59, 59, 59);
  font-size: large;
}
a {
  color: rgb(59, 59, 59);
}
h4 {
  margin: 0;
  padding: 5px;
}
.about-text {
  margin-right: 0px;
  padding-left: 0px;
  width: 30%;
  display: inline-block;

  font-size: 1.7em;
  transform: translate(0, 50px);
}
.about-text ul {
  margin: 0px;
}
.about-text li {
  text-align: left;
  padding-top: 15px;
}
.about-icons {
  display: inline-block;
  transform: translate(50px, -25px);
  margin-left: 0px;
  padding-left: 0px;
  width: 35%;
}
.about-icons p {
  padding-top: 0px;
  margin: 10px;
  font-size: x-large;
  display: block;
}
.about-img {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-img img {
  height: 60px;
  margin: 7px;
}
img:hover {
  opacity: 1;
}
